<footer>
    
    <p>Developed by <a href="https://twitter.com/craigbuckler">Craig Buckler</a></p>
    
    <p>and featured on <a href="https://www.sitepoint.com/">SitePoint.com</a></p>
    
    <p>Please use all code and techniques as you wish!</p>

</footer>
